@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: 242424;
  text-align: center;
  line-height: 1.25;}


  nav{
height: 80px;
display: flex;


  }

  .nav_container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 0 24px;
  }

 
  
    .logo{
width: 160px;
    }
    
  

  ul{
    display: flex;
    
  }

  li{
    list-style-type: none;
    
  }

  .nav__link{
    margin-left: 15px;


  }
